/* Reset IE6 browser styles */

.clear {
    height: 0.01%;
    overflow: visible;
}

/* Custom IE6 styles */

body#index div#subright {
    width: expression(document.getElementById("index").offsetWidth - 308);
}

body#index div#subleft {
    height: expression(document.getElementById("index").offsetHeight - 170);
}

body#index div#subright {
    height: expression(document.getElementById("index").offsetHeight - 125);
}

.yui-dt-scrollable .yui-dt-bd {
    overflow: auto;
}
