html,
body {
    overflow: auto;
}

.uploaderContainer {
    padding: 0;
    margin-top: 10px;
    min-height: 100px;
}

.uploaderContainer input[type="file"] {
    display: none;
}

.file-list {
    height: 100px;
    overflow-y: auto;
    margin: 10px 0;
}

.file-drop-zone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    color: #595959;
    padding: 15px;
    position: relative;
    text-align: center;
    width: 360px;
}

@media (min-width: 500px) {
    .file-drop-zone {
        width: 100%;
    }
}

.file-drop-zone p {
    margin-left: 0;
    font-size: 18px;
}
.file-drop-zone input[type="file"] {
    display: none;
}

.upload-stats {
    font-size: 12px;
}

.upload-hidden-form {
    display: none;
}

.uploadtable {
    clear: both;
    margin-top: 20px;
    width: 360px;
}
@media (min-width: 600px) {
    .uploadtable {
        width: 500px;
    }
}
.uploadtable .progress {
    display: inline-block;
    margin-bottom: 0;
    width: 310px;
}
@media (min-width: 600px) {
    .uploadtable {
        width: 500px;
    }
    .uploadtable .progress {
        width: 450px;
    }
}

.uploadtable .cancel {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    position: relative;
    width: 30px;
    vertical-align: top;
}
.uploadtable .cancel:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

html[dir="rtl"] .uploadtable .cancel {
    margin-right: 10px;
    margin-left: 0;
}

.uploadtable label {
    display: block;
    word-wrap: break-word;
}

.upload-form {
    margin: 0;
}

.yui-panel .ft,
.panel .ft {
    background: #eeeeee;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
}

/* stolen from cpanel_base.min.css */
.return-link {
    padding: 20px;
    text-align: center;
}

/* ------------------------------------------------------------------------------ */
/* Callouts
/* ------------------------------------------------------------------------------ */
.callout {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #eeeeee;
    margin: 20px 0 20px 0;
    padding: 20px;
}
html[dir="rtl"] .callout {
    border-left-width: 0;
    border-left-style: none;
    border-left-color: transparent;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #eeeeee;
}

.callout-info {
    background-color: #d7edf9;
    border-left-color: #2980b9;
}
html[dir="rtl"] .callout-info {
    border-left-color: transparent;
    border-right-color: #2980b9;
}
