[%
    # this file is used for the Chrome::get_dom API call
    SET CPANEL.CPVAR.dprefix="../";
%]

[% WRAPPER '_assets/master.html.tt'
    app_key = app_key || 'custom'
 -%]
<div class="body-content">
    <!--custom_framing-->
</div><!-- end body-content -->
[% END #wrapper %]
