<div id="why_strong_passwords_text" style="display: none">
    <p>[% locale.maketext("A strong password is very important to maintain security. Web servers are usually more powerful and have access to greater bandwidth than your personal computer, which makes them a prime target for [output,url,_1,password crackers,target,_blank].", "https://go.cpanel.net/password_cracking") %]

    <p>[% locale.maketext("We [output,strong,strongly recommend] using the built-in password generator to create your password.") %]</p>
</div>
