.tab-content {
  display: none;
}
.current-tab-description {
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.tab-callout .callout {
  margin-top: 0px;
}
.view-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.clear-all-confirm > .callout {
  margin-top: 0;
}
.score-field-directive .directive-parts > div {
  vertical-align: middle;
}
.score-field-directive .sf-chosen-select {
  width: 100%;
  vertical-align: middle;
}
.score-field-directive .sf-chosen-input {
  width: 100%;
  vertical-align: middle;
}
.score-field-directive .chosen-container {
  vertical-align: middle;
  margin-top: 4px;
  width: 100% !important;
}
.radio label input,
.radio label span {
  vertical-align: middle;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#viewContent {
  z-index: 1;
  position: relative;
}
.animate-view {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
}
@media screen and (min-width: 0) and (min-resolution: 0.001dpcm) {
  .animate-view {
    opacity: 1;
  }
}
.animate-view.ng-leave {
  display: none;
}
.toggling-header .cjt2-toggle-switch .toggle-switch-updating-indicator {
  font-size: 14px;
}
.toggling-header > div,
.toggling-header > span {
  vertical-align: middle;
}
