.icon-addon_domains,.icon-address_importer,.icon-aliases,.icon-analog_stats,.icon-anonymous_ftp,.icon-apache_handlers,.icon-apache_spam_assassin,.icon-api_shell,.icon-application_manager,.icon-archive,.icon-authentication,.icon-autoresponders,.icon-awstats,.icon-backup,.icon-backup_wizard,.icon-bandwidth,.icon-boxtrapper,.icon-calendar_and_contacts,.icon-change_language,.icon-change_password,.icon-change_style,.icon-contact_information,.icon-cpu_and_concurrent_connection_usage,.icon-cron_jobs,.icon-default_address,.icon-directory_privacy,.icon-disk_usage,.icon-email_accounts,.icon-email_disk_usage,.icon-email_filters,.icon-email_routing,.icon-encryption,.icon-error_pages,.icon-errors,.icon-file_manager,.icon-file_restoration,.icon-forwarders,.icon-ftp_accounts,.icon-ftp_connections,.icon-global_email_filters,.icon-greylisting,.icon-hotlink_protection,.icon-images,.icon-indexes,.icon-ip_blocker,.icon-jetbackupcronbackups,.icon-jetbackupdbbackups,.icon-jetbackupdnsbackups,.icon-jetbackupemailbackups,.icon-jetbackupfilesbackups,.icon-jetbackupfullbackups,.icon-jetbackupqueue,.icon-jetbackupsettings,.icon-jetbackupsnapshots,.icon-jetbackupsslbackups,.icon-leech_protection,.icon-logaholic,.icon-mailing_lists,.icon-metrics_editor,.icon-mime_types,.icon-mod_security,.icon-multiphp_ini_editor,.icon-multiphp_manager,.icon-mx_entry,.icon-mysql_database_wizard,.icon-mysql_databases,.icon-optimize_website,.icon-perl_modules,.icon-php,.icon-php_my_admin,.icon-php_pear_packages,.icon-php_pg_admin,.icon-postgresql_database_wizard,.icon-postgresql_databases,.icon-raw_access,.icon-redirects,.icon-remote_mysql,.icon-ruby_gems,.icon-ruby_on_rails,.icon-search_index,.icon-security_policy,.icon-site_publisher,.icon-site_software,.icon-ssh_access,.icon-ssl_management,.icon-ssl_storage,.icon-ssl_tls,.icon-subdomains,.icon-terminal,.icon-tls_status,.icon-tls_wizard,.icon-track_delivery,.icon-track_dns,.icon-two_factor_authentication,.icon-user_manager,.icon-version_control,.icon-virus_scanner,.icon-visitors,.icon-web_disk,.icon-web_host_manager,.icon-webalizer,.icon-webalizer_ftp,.icon-zone_editor { background-image: url('./icon_spritemap.png?9582d8895f3e984812ac5efec5905de9ad9260daa1a8256acd673d95931e9ce7_4.0'); background-repeat: no-repeat; }
.icon-addon_domains { background-position: -106px -175px; width: 33px; height: 32px; }
.icon-address_importer { background-position: -149px -175px; width: 32px; height: 32px; }
.icon-aliases { background-position: -231px -5px; width: 32px; height: 32px; }
.icon-analog_stats { background-position: -231px -47px; width: 32px; height: 32px; }
.icon-anonymous_ftp { background-position: -231px -89px; width: 32px; height: 32px; }
.icon-apache_handlers { background-position: -280px -433px; width: 45px; height: 30px; }
.icon-apache_spam_assassin { background-position: -5px -223px; width: 46px; height: 32px; }
.icon-api_shell { background-position: -231px -131px; width: 32px; height: 32px; }
.icon-application_manager { background-position: -231px -173px; width: 32px; height: 32px; }
.icon-archive { background-position: -61px -223px; width: 32px; height: 32px; }
.icon-authentication { background-position: -103px -223px; width: 32px; height: 32px; }
.icon-autoresponders { background-position: -145px -223px; width: 32px; height: 32px; }
.icon-awstats { background-position: -187px -223px; width: 32px; height: 32px; }
.icon-backup { background-position: -229px -223px; width: 32px; height: 32px; }
.icon-backup_wizard { background-position: -273px -5px; width: 45px; height: 32px; }
.icon-bandwidth { background-position: -273px -47px; width: 32px; height: 32px; }
.icon-boxtrapper { background-position: -273px -89px; width: 35px; height: 32px; }
.icon-calendar_and_contacts { background-position: -273px -131px; width: 32px; height: 32px; }
.icon-change_language { background-position: -273px -173px; width: 32px; height: 32px; }
.icon-change_password { background-position: -273px -215px; width: 32px; height: 32px; }
.icon-change_style { background-position: -5px -265px; width: 32px; height: 32px; }
.icon-contact_information { background-position: -47px -265px; width: 32px; height: 32px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -89px -265px; width: 32px; height: 32px; }
.icon-cron_jobs { background-position: -131px -265px; width: 32px; height: 32px; }
.icon-default_address { background-position: -173px -265px; width: 32px; height: 32px; }
.icon-directory_privacy { background-position: -215px -265px; width: 32px; height: 32px; }
.icon-disk_usage { background-position: -257px -265px; width: 32px; height: 32px; }
.icon-email_accounts { background-position: -328px -5px; width: 32px; height: 32px; }
.icon-email_disk_usage { background-position: -328px -47px; width: 32px; height: 32px; }
.icon-email_filters { background-position: -328px -89px; width: 32px; height: 32px; }
.icon-email_routing { background-position: -328px -131px; width: 32px; height: 32px; }
.icon-encryption { background-position: -328px -173px; width: 32px; height: 32px; }
.icon-error_pages { background-position: -328px -215px; width: 32px; height: 32px; }
.icon-errors { background-position: -328px -257px; width: 32px; height: 32px; }
.icon-file_manager { background-position: -5px -307px; width: 32px; height: 32px; }
.icon-file_restoration { background-position: -47px -307px; width: 32px; height: 32px; }
.icon-forwarders { background-position: -89px -307px; width: 32px; height: 32px; }
.icon-ftp_accounts { background-position: -131px -307px; width: 32px; height: 32px; }
.icon-ftp_connections { background-position: -173px -307px; width: 32px; height: 32px; }
.icon-global_email_filters { background-position: -215px -307px; width: 32px; height: 32px; }
.icon-greylisting { background-position: -257px -307px; width: 32px; height: 32px; }
.icon-hotlink_protection { background-position: -299px -307px; width: 32px; height: 32px; }
.icon-images { background-position: -370px -5px; width: 32px; height: 32px; }
.icon-indexes { background-position: -370px -47px; width: 32px; height: 32px; }
.icon-ip_blocker { background-position: -370px -89px; width: 32px; height: 32px; }
.icon-jetbackupcronbackups { background-position: -63px -5px; width: 46px; height: 46px; }
.icon-jetbackupdbbackups { background-position: -5px -63px; width: 46px; height: 46px; }
.icon-jetbackupdnsbackups { background-position: -61px -63px; width: 46px; height: 46px; }
.icon-jetbackupemailbackups { background-position: -119px -5px; width: 46px; height: 46px; }
.icon-jetbackupfilesbackups { background-position: -119px -61px; width: 46px; height: 46px; }
.icon-jetbackupfullbackups { background-position: -5px -119px; width: 46px; height: 46px; }
.icon-jetbackupqueue { background-position: -61px -119px; width: 46px; height: 46px; }
.icon-jetbackupsettings { background-position: -117px -119px; width: 46px; height: 46px; }
.icon-jetbackupsnapshots { background-position: -175px -5px; width: 46px; height: 46px; }
.icon-jetbackupsslbackups { background-position: -175px -61px; width: 46px; height: 46px; }
.icon-leech_protection { background-position: -370px -131px; width: 32px; height: 32px; }
.icon-logaholic { background-position: -370px -173px; width: 32px; height: 32px; }
.icon-mailing_lists { background-position: -370px -215px; width: 32px; height: 32px; }
.icon-metrics_editor { background-position: -370px -257px; width: 32px; height: 32px; }
.icon-mime_types { background-position: -370px -299px; width: 32px; height: 32px; }
.icon-mod_security { background-position: -5px -349px; width: 32px; height: 32px; }
.icon-multiphp_ini_editor { background-position: -47px -349px; width: 32px; height: 32px; }
.icon-multiphp_manager { background-position: -89px -349px; width: 32px; height: 32px; }
.icon-mx_entry { background-position: -131px -349px; width: 32px; height: 32px; }
.icon-mysql_database_wizard { background-position: -60px -433px; width: 45px; height: 31px; }
.icon-mysql_databases { background-position: -115px -433px; width: 45px; height: 31px; }
.icon-optimize_website { background-position: -173px -349px; width: 32px; height: 32px; }
.icon-perl_modules { background-position: -215px -349px; width: 32px; height: 32px; }
.icon-php { background-position: -257px -349px; width: 32px; height: 32px; }
.icon-php_my_admin { background-position: -175px -117px; width: 45px; height: 34px; }
.icon-php_pear_packages { background-position: -299px -349px; width: 32px; height: 32px; }
.icon-php_pg_admin { background-position: -341px -349px; width: 50px; height: 32px; }
.icon-postgresql_database_wizard { background-position: -170px -433px; width: 45px; height: 31px; }
.icon-postgresql_databases { background-position: -412px -5px; width: 32px; height: 32px; }
.icon-raw_access { background-position: -412px -47px; width: 32px; height: 32px; }
.icon-redirects { background-position: -5px -391px; width: 33px; height: 32px; }
.icon-remote_mysql { background-position: -225px -433px; width: 45px; height: 31px; }
.icon-ruby_gems { background-position: -412px -89px; width: 32px; height: 32px; }
.icon-ruby_on_rails { background-position: -412px -131px; width: 32px; height: 32px; }
.icon-search_index { background-position: -5px -5px; width: 48px; height: 48px; }
.icon-security_policy { background-position: -412px -173px; width: 32px; height: 32px; }
.icon-site_publisher { background-position: -412px -215px; width: 32px; height: 32px; }
.icon-site_software { background-position: -412px -257px; width: 32px; height: 32px; }
.icon-ssh_access { background-position: -48px -391px; width: 37px; height: 32px; }
.icon-ssl_management { background-position: -412px -299px; width: 32px; height: 32px; }
.icon-ssl_storage { background-position: -412px -341px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -95px -391px; width: 32px; height: 32px; }
.icon-subdomains { background-position: -137px -391px; width: 43px; height: 32px; }
.icon-terminal { background-position: -5px -175px; width: 48px; height: 38px; }
.icon-tls_status { background-position: -190px -391px; width: 32px; height: 32px; }
.icon-tls_wizard { background-position: -232px -391px; width: 32px; height: 32px; }
.icon-track_delivery { background-position: -274px -391px; width: 32px; height: 32px; }
.icon-track_dns { background-position: -316px -391px; width: 32px; height: 32px; }
.icon-two_factor_authentication { background-position: -358px -391px; width: 32px; height: 32px; }
.icon-user_manager { background-position: -400px -391px; width: 32px; height: 32px; }
.icon-version_control { background-position: -63px -175px; width: 33px; height: 33px; }
.icon-virus_scanner { background-position: -454px -5px; width: 32px; height: 32px; }
.icon-visitors { background-position: -454px -47px; width: 32px; height: 32px; }
.icon-web_disk { background-position: -454px -89px; width: 32px; height: 32px; }
.icon-web_host_manager { background-position: -5px -433px; width: 45px; height: 32px; }
.icon-webalizer { background-position: -454px -131px; width: 32px; height: 32px; }
.icon-webalizer_ftp { background-position: -454px -173px; width: 32px; height: 32px; }
.icon-zone_editor { background-position: -454px -215px; width: 32px; height: 32px; }.icon-cpanel-wordpress-instance-manager,.icon-file_and_directory_restoration,.icon-solr_search_index { background-image: url(icon_spritemap.svg?9582d8895f3e984812ac5efec5905de9ad9260daa1a8256acd673d95931e9ce7_4.0); background-repeat: no-repeat; }
.icon-cpanel-wordpress-instance-manager { background-size: 154px 48px; background-position: -0px 0; width: 48px; height: 48px; }
.icon-file_and_directory_restoration { background-size: 154px 48px; background-position: -53px 0; width: 48px; height: 48px; }
.icon-solr_search_index { background-size: 154px 48px; background-position: -106px 0; width: 47.9px; height: 46.9px; }
