<html>
<head>
<title>[% locale.maketext("[asis,cPanel X]") %]</title>
[% PROCESS "_assets/charset.html.tt" %]
<link rel="stylesheet" type="text/css" href="[% theme_magic_url("css/combined_optimized.css") %]">
<META HTTP-EQUIV=Refresh CONTENT="0; URL=[% CPANEL.ENV.item('cp_security_token').html %]/xfercpanel/[% FORM.user.uri() %]">
</head>
<body>
[% locale.maketext("Loading …") %]
</body>
</html>
