
[% SET CPANEL.CPVAR.dprefix="../" %]

[% WRAPPER '_assets/master.html.tt'
    app_key = 'backup'
-%]

<img src="../filemanager/images/up.gif" border=0>&nbsp;&nbsp;&nbsp;&nbsp;<b>[% locale.maketext("Restoring Email Forwarders/Filters") %]</b>
<br />
<pre>
[%
    Api1.pre_exec("Fileman", "restoreaf");
    Api1.exec("Fileman", "restoreaf", [undef]);
    Api1.post_exec("Fileman", "restoreaf");
%]
</pre>

[% END #wrapper -%]