[% SET CPANEL.CPVAR.dprefix = "../../"; %]

[% WRAPPER '_assets/master.html.tt'
    app_key = 'email_accounts'
-%]

<div class="body-content">
    <meta http-equiv="refresh" content="0;url=[% CPANEL.CPVAR.dprefix %]email_accounts/index.html" />
    <h3>[% locale.maketext("This page has moved. The system will redirect you to the new interface.") %]</h3>
</div>
[% END #wrapper -%]