table.archives td.nobrd,
td.nobrd,
.nobrd {
    border: 0;
    padding: 0;
}
table.archives td {
    padding: 3px;
}
table.archives td.statusbartd {
    padding: 0;
}

div.search-panel form#search_form {
    white-space: nowrap;
    display: inline-block;
}

div.search-panel {
    padding-left: 5px;
    height: 22px;
}

div.search-panel span,
div.search-panel input {
    vertical-align: middle;
}

#archive_status_bar {
    margin: 0 -5px;
}

#archive_status_bar img,
#archive_status_bar strong,
.archive_status_bar img,
.archive_status_bar strong {
    vertical-align: middle;
}

#emailarchtbl {
    width: 99%;
    padding: 5px;
    border-collapse: collapse;
}
#paginator {
    position: relative;
}
#paginator form {
    position: absolute;
    right: 0;
}

#paginator select,
#paginator span {
    vertical-align: middle;
}
#imap_howto_panel div.hd {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
#imap_howto_panel-content {
    /*overflow: auto;*/
}

#imap_howto_panel-content table {
    margin-bottom: 10px;
    width: 300px;
}

#imap_howto_panel-content th {
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
}

#imap_howto_panel-content th[colspan] {
    text-align: left;
    font-weight: bold;
    padding-bottom: 5px;
}

#imap_howto_panel-content td {
    text-align: left;
    vertical-align: top;
}

#imap_howto_panel-content td[colspan] {
    font-style: italic;
}

.statusbartd {
    border-bottom: 0;
    border-top: 0;
}

.statusbartd div {
    margin: 0;
}

#emailarchtbl tr.row-even td.col1,
#emailarchtbl tr.row-odd td.col1 {
    border-right: 0;
    width: 250px;
    max-width: 250px;
    padding-right: 0;
}

#emailarchtbl tr.row-even td.col2,
#emailarchtbl tr.row-odd td.col2 {
    border-left: 0;
    width: 32px;
}

/* Safari bugs out if we don't set a width on the <div>. Weird. */
#emailarchtbl tr.row-even td.col2 div,
#emailarchtbl tr.row-odd td.col2 div,
#emailarchtbl tr.row-even td.col2 div img,
#emailarchtbl tr.row-odd td.col2 div img {
    height: 16px;
    width: 16px;
}

#emailarchtbl tr.row-even td.diskusagecol,
#emailarchtbl tr.row-odd td.diskusagecol {
    width: 100px;
}

#emailarchtbl tr.row-even td.col3,
#emailarchtbl tr.row-odd td.col3 {
    width: 230px;
}

#emailarchtbl tr.row-even td.col4,
#emailarchtbl tr.row-odd td.col4 {
    width: 150px;
}

#emailarchtbl tr.row-even td.col3 td.nobrd,
#emailarchtbl tr.row-odd td.col3 td.nobrd {
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}

#emailarchtbl tr.row-even td.col3 td.nobrd input,
#emailarchtbl tr.row-odd td.col3 td.nobrd input,
#emailarchtbl tr.row-even td.col3 td.nobrd label,
#emailarchtbl tr.row-odd td.col3 td.nobrd label {
    vertical-align: middle;
}

#emailarchtbl tr.row-even td.col4 div.action-container,
#emailarchtbl tr.row-odd td.col4 div.action-container {
    white-space: nowrap;
}

div.retention_control_container span {
    vertical-align: middle;
}

div.retention_control_container span select,
div.retention_control_container span input {
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

.body-content h2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}

#archive_download_contents {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#archive_download_contents p {
    margin-bottom: 0.8em;
}

ul.bulleted li {
    list-style-type: disc;
}

#default_config {
    margin-bottom: 20px;
}

#default_config_container .header-text {
    margin-bottom: 10px;
}

#default_config td.nobrd,
#default_config td.nobrd {
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
}

#default_config td.nobrd input,
#default_config td.nobrd input,
#default_config td.nobrd label,
#default_config td.nobrd label {
    vertical-align: middle;
}

#archive_status_bar_GLOBAL {
    margin-bottom: 10px;
}

#default_config div.controls {
    margin-top: 16px;
}

#default_config table {
    margin-left: 20px;
}

#archive_progress_bar_GLOBAL {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#archive_progress_bar_message_GLOBAL {
    text-align: center;
}

#archive_progress_bar_GLOBAL .yui-pb {
    background-color: #8c8c8c;
    height: 15px;
}

#archive_progress_bar_GLOBAL .yui-pb-bar {
    background-color: #8c8c8c;
    background-image: url(/cjt/images/progress_bar.gif);
    background-repeat: repeat-x;
}

#spinner_GLOBAL img,
#spinner_sorting img {
    height: 14px;
    vertical-align: middle;
}

th.col1-2 {
    width: 390px;
}
th.diskusagecol {
    width: 103px;
}
th.col3 {
    width: 303px;
}
