.styles-list {
    display: flex;
    flex-wrap: wrap;
}

.style {
    width: 440px;
    margin-right: 10px;
    float: left;
    align-items: stretch;
}

.style-name {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

.style-preview {
    text-align: center;
    overflow: hidden;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.style-actions li {
    text-align: left;
    margin: 5px;
}

.panel-primary .badge {
    background-color: #fff;
    color: #428bca;
}
