.dependent-action {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
}

html[dir="ltr"] .dependent-action {
    margin-right: 5px;
}

html[dir="rtl"] .dependent-action {
    margin-left: 5px;
}

html[dir="ltr"] .dependent-action:last-child {
    margin-right: 0;
}

html[dir="rtl"] .dependent-action:last-child {
    margin-left: 0;
}

/* Setup the table columns. */
td.domain-column {
    overflow: hidden;
}

td.domain-column div {
    overflow: hidden;
}

td.description-column {
    overflow: hidden;
}

td.description-column div {
    overflow: hidden;
}

/* Setup the related items system. */
.section {
    position: relative;
}

html[dir="ltr"] .related {
    position: absolute;
    right: 0;
}

html[dir="rtl"] .related {
    position: absolute;
    left: 0;
}

.related a {
    cursor: pointer;
}

.related {
    top: -7px;
}

.related-top {
    top: -2px;
}

.related .dependent-action {
    background-color: #f3f3f3;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Fixes for the error panel. */
.form-element-side-warning {
    background-repeat: no-repeat;
    background-image: url(/cjt/images/icons/warning.png);
}

.form-element-side-warning .bd {
    background-color: white;
    max-width: 300px;
    line-height: 20px;
    border: 1px solid #ffaa00;
    padding: 0 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

html[dir="ltr"] .form-element-side-warning .bd {
    margin-left: 21px;
}

html[dir="ltr"] .form-element-side-warning {
    margin-left: 5px;
}

html[dir="rtl"] .form-element-side-warning .bd {
    margin-right: 21px;
}

html[dir="rtl"] .form-element-side-warning {
    margin-right: 5px;
    background-position: 100% 0%; /* For older browsers */
    background-position: right 0 0;
}
