<html>
    <head>
        <title>[% locale.maketext("[asis,cPanel X]") %]</title>
        [% Api1.exec("relinclude", ["filemanager/files_head.html"]) %]
    </head>
    <body class="topright">
        <img src="images/i-directory.gif">
        <b>
            [%
                Api1.pre_exec("Fileman", "fmmkdir");
                Api1.exec("Fileman", "fmmkdir", [RAW_FORM.dir, RAW_FORM.newdir]);
                Api1.post_exec("Fileman", "fmmkdir")
            %]
        </b>
        <script type="text/javascript">
            if (parent.dirwindow.window.location.href.indexOf("?") > 0) {
                    parent.dirwindow.window.location.href = parent.dirwindow.window.location.href + "&refresh=[% ExpVar.expand('$random') %]";
            }
            if (parent.dirwindow.window.location.href.indexOf("?") == -1) {
                    parent.dirwindow.window.location.href = parent.dirwindow.window.location.href + "?refresh=[% ExpVar.expand('$random') %]";
            }
        </script>
    </body>
</html>

