.yui-skin-sam .yui-navset .yui-content {
    background: none;
}

.vertical-radio-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.parm-container {
    margin-top: 12px;
}
.form-part {
    margin-top: 20px;
}
.parm-container .title {
    font-weight: bold;
    margin-bottom: 5px;
}
.line-space {
    margin-top: 10px;
    clear: both;
}

.metadataContainer {
    border-radius: 5px;
    background-color: #eee;
    padding: 8px;
}

.form-part code {
    font-weight: normal;
}

.none-tbody td div {
    padding: 0 10px;
    font-style: italic;
}

.delete-link {
    font-weight: bold;
    font-size: larger;
}

body h3 {
    background: none;
    color: inherit;
}

.inline {
    display: inline;
}

#cjt_pagenotice_container {
    margin-bottom: 10px;
}

.key_value > *,
.inputField > * {
    display: inline-block;
    vertical-align: middle;
}

.removeInputButton {
    display: inline;
}

.inputField {
    display: none;
}

.disabled,
[disabled] {
    cursor: not-allowed;
    color: #cccccc;
}

#raw_view_container textarea {
    height: 270px;
    width: 100%;
}

.data-structure-display.invalid-data {
    display: none;
}
