[%
SET new_url = 'pops/';

WRAPPER '_assets/master.html.tt'
    app_key = 'email_accounts'
    title = locale.maketext('Redirecting …')
    meta = "<meta http-equiv='refresh' content='0; url=$new_url'>"
;
-%]

<h4>[% locale.maketext('This page’s address has changed.') -%]</h4>

<p>
    [% locale.maketext('If you are not redirected automatically, [output,url,_1,click here].', new_url) %]
</p>

[% END #wrapper -%]
