.table-action-button-label:focus {
  background-color: #d4d4d4;
  color: #333333;
}
.table-action-button-label:hover {
  color: #333333;
  background-color: #d4d4d4;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #bbbbbb;
}
.info-block {
  margin: 0 0 5px 0;
}
label {
  margin: 0 0 5px 0;
}
.help-block {
  margin-bottom: 0;
  margin-top: 3px;
  font-size: 13px;
}
.validation-container {
  margin-top: 5px;
}
a.list-group-item {
  color: #428bca;
  cursor: pointer;
}
.form-group {
  margin-bottom: 25px;
}
.toggle-switch-label {
  font-style: italic;
  font-weight: bold;
}
.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}
input.ng-invalid.ng-dirty {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.widget {
  padding: 0 10px 10px 10px;
  border-top: 2px solid #474747;
  margin-bottom: 40px;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.widget li {
  margin-bottom: 12px;
  line-height: 1.5;
}
.form-section {
  margin: 50px 0;
}
.form-section-last {
  margin-bottom: 0;
}
h4.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
  /* #474747;*/
}
.storage-details {
  margin-top: 5px;
}
.widget-title {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
html[dir="rtl"] .widget-title {
  text-align: right;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
.btn {
  text-transform: uppercase;
}
.table > thead > tr > th {
  border-top: 1px solid #323232 !important;
}
.action-bar {
  margin-bottom: 10px;
}
th {
  font-weight: normal;
}
.action-column {
  padding-right: 20px !important;
  width: auto;
}
@media (min-width: 601px) {
  .action-column {
    width: 1%;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .action-column {
    white-space: nowrap;
  }
}
html[dir="rtl"] .action-column {
  text-align: left;
  padding-left: 20px !important;
}
@media (min-width: 601px) {
  html[dir="rtl"] .action-column {
    padding-left: 0 !important;
  }
}
.progress {
  height: 10px;
  border: 1px solid #b1b1b1;
}
.icon-arrow-up:after {
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  content: "\f077";
  position: relative;
  bottom: 0;
  left: 0;
}
.icon-arrow-down:after {
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  content: "\f078";
  position: relative;
  top: 0;
  left: 0;
}
.table-action-button-label {
  background: #eee;
  border-radius: 2px;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  margin: 0;
  padding: 6px 12px;
  margin-right: 15px;
}
.table-action-button-label input[type="checkbox"] {
  margin: 0;
}
html[dir="rtl"] .table-action-button-label {
  margin-right: 0;
  margin-left: 15px;
}
.table-action-button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.table-action-button-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
}
.table-action-checkbox-label {
  padding: 5px;
  margin: 0;
}
.row-expand-container {
  display: table-cell;
  width: 40px;
}
.account-name {
  display: table-cell;
}
.list-panel {
  padding: 8px;
  overflow: hidden;
}
html[dir="ltr"] .list-panel {
  padding-left: 80px;
}
html[dir="rtl"] .list-panel {
  padding-right: 80px;
}
.table > tbody > tr > td.expand-panel-data {
  padding: 0;
  border: 0;
}
.wordbreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  white-space: normal;
}
.collapse-text {
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}
.expand-panel .expand-actions {
  text-align: left;
}
html[dir="rtl"] .expand-panel .expand-actions {
  text-align: right;
}
.info-spacing {
  padding-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .expand-actions button {
    display: inline-block;
  }
  html[dir="ltr"] .radio-inline + .radio-inline,
  html[dir="ltr"] .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  html[dir="rtl"] .radio-inline + .radio-inline,
  html[dir="rtl"] .checkbox-inline + .checkbox-inline {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  html[dir="ltr"] .radio-inline + .radio-inline,
  html[dir="ltr"] .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  html[dir="rtl"] .radio-inline + .radio-inline,
  html[dir="rtl"] .checkbox-inline + .checkbox-inline {
    margin-right: 0;
  }
  .responsive-table > tbody > tr,
  .responsive-table > tbody > tr > td {
    border: 0;
  }
  .responsive-table > tbody > tr:nth-child(2n + 2) {
    border-bottom: 1px solid #ccc;
  }
}
@media only screen and (max-width: 600px) {
  /* Overwrites master-ltr.cmb.min.css default table styles */
  .responsive-table > thead > tr {
    position: initial;
  }
  .responsive-table > tbody > tr > td:before {
    padding: 0;
  }
  .responsive-table > tbody > tr > td.expand-panel-data:before {
    content: none;
  }
  th.name-column {
    width: 100%;
  }
  .responsive-table tr {
    display: flex;
  }
  .responsive-table .data-row td:nth-child(2) {
    flex: 1 auto;
  }
  .responsive-table td:first-child {
    flex: 1 auto;
  }
}
/* Ensure this gets priority */
.table > tbody > tr > td.info,
.table > tbody > tr.info > td {
  background-color: #d7edf9 !important;
}
.table > tbody > tr > td.active,
.table > tbody > tr.active > td {
  background-color: #e0e0e0 !important;
  color: #323232;
}
/* "odd" rows */
.table-striped-child > tbody > tr:nth-child(4n + 1) > td,
.table-striped-child > tbody > tr:nth-child(4n + 2) > td,
.table-striped-child > tbody > tr:nth-child(4n + 1) > th,
.table-striped-child > tbody > tr:nth-child(4n + 2) > th {
  background-color: #f1f1f1;
}
/* "even" rows */
.table-striped-child > tbody > tr:nth-child(4n + 0) > td,
.table-striped-child > tbody > tr:nth-child(4n + 3) > td,
.table-striped-child > tbody > tr:nth-child(4n + 0) > th,
.table-striped-child > tbody > tr:nth-child(4n + 3) > th {
  background-color: #f8f8f8;
}
html[data-style="dark"] {
  /* "odd" rows */
  /* "even" rows */
}
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 1) > td,
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 2) > td,
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 1) > th,
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 2) > th {
  background-color: #2c2c2c;
}
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 0) > td,
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 3) > td,
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 0) > th,
html[data-style="dark"] .table-striped-child > tbody > tr:nth-child(4n + 3) > th {
  background-color: #333;
}
html[data-style="light"] {
  /* "odd" rows */
  /* "even" rows */
}
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 1) > td,
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 2) > td,
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 1) > th,
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 2) > th {
  background-color: #f5f5f5;
}
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 0) > td,
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 3) > td,
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 0) > th,
html[data-style="light"] .table-striped-child > tbody > tr:nth-child(4n + 3) > th {
  background-color: #fcfcfc;
}
html[data-style="retro"] {
  /* "odd" rows */
  /* "even" rows */
}
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 1) > td,
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 2) > td,
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 1) > th,
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 2) > th {
  background-color: #f9f9f9;
}
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 0) > td,
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 3) > td,
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 0) > th,
html[data-style="retro"] .table-striped-child > tbody > tr:nth-child(4n + 3) > th {
  background-color: #fff;
}
.radio-inline label {
  font-weight: normal;
}
.table-inline-label-container {
  display: table-cell;
}
.label-offset {
  margin-left: 10px;
}
html[dir="rtl"] .label-offset {
  margin-left: 0;
  margin-right: 10px;
}
.expand-actions {
  padding: 10px 0 5px 0;
}
.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
  box-shadow: none;
}
.table > tbody > tr > td.warning,
.table > tbody > tr.warning > td,
html[data-style="dark"] .table > tbody > tr > td.warning,
html[data-style="dark"] .table > tbody > tr.warning > td,
html[data-style="light"] .table > tbody > tr > td.warning,
html[data-style="light"] .table > tbody > tr.warning > td,
html[data-style="retro"] .table > tbody > tr > td.warning,
html[data-style="retro"] .table > tbody > tr.warning > td {
  background-color: #fcf8e1 !important;
}
html[data-style="dark"] .table > tbody > tr.success > td,
html[data-style="dark"] .table > tbody > tr.warning > td,
html[data-style="dark"] .table > tbody > tr.info > td,
html[data-style="dark"] .table > tbody > tr.warning > td code.format {
  color: #333;
}
/* Delete Warning Mode */
.delete-question-mark {
  font-size: 45px;
  color: #f1be38;
  font-weight: 700;
  position: relative;
  top: 0;
  padding-right: 10px;
}
html[dir="rtl"] .delete-question-mark {
  padding-right: 0;
  padding-left: 10px;
}
.list-panel .delete-question-mark {
  position: relative;
  top: -14px;
}
.delete-warning {
  padding-top: 20px;
}
.delete-message {
  font-weight: bold;
}
.delete-warning p {
  padding-top: 10px;
}
.display-table-cell {
  vertical-align: top;
  display: table-cell;
}
.display-table {
  display: table;
}
.box {
  margin-bottom: 20px;
}
.text-warning {
  color: #e9aa0b;
}
.callout-heading {
  font-size: 16px;
  margin-bottom: 15px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  text-transform: capitalize;
}
.text-small {
  font-size: 85%;
}
.text-uppercase {
  text-transform: uppercase;
}
.callout {
  margin: 15px 0 15px 0;
  padding: 15px;
}
.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 600;
  white-space: nowrap;
}
html[dir="ltr"] .details-table th.name-column {
  padding-left: 50px;
}
html[dir="rtl"] .details-table th.name-column {
  padding-left: 50px;
}
html[dir="ltr"] .details-table td.check-column {
  padding-right: 0;
  width: 33px;
}
html[dir="rtl"] .details-table td.check-column {
  padding-left: 0;
}
.widget-item-description {
  margin-top: 30px;
}
.form-link {
  padding: 10px 0 0 0;
  text-transform: capitalize;
}
a,
a:active,
a:hover,
a:focus {
  cursor: pointer;
}
.page-title-section {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.page-title {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
}
.page-icon {
  vertical-align: bottom;
}
.pageSizeButtons {
  display: flex;
}
.pagination a {
  text-decoration: none;
}
.pagination > .disabled a,
.pagination > .disabled a:hover,
.pagination > .disabled a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
  text-decoration: none;
}
.panel-danger > .panel-heading {
  background: transparent;
  border: none;
}
.panel {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}
.panel-default > .panel-heading {
  background-color: #ffffff;
}
.panel-secondary,
.panel-secondary > .panel-heading,
.panel-secondary > .panel-footer,
.panel-secondary > .panel-body {
  border-color: #ddd;
  background-color: #fafafa;
}
html[data-style="dark"] .panel-footer {
  background-color: transparent;
  border-top: 1px solid #1d1d1d;
}
html[data-style="dark"] .widget-title {
  color: #909090;
}
html[data-style="dark"] h4.widget-title {
  border-bottom: 2px solid#909090;
}
html[data-style="dark"] a.btn-outline-primary:hover {
  color: #ffffff;
}
html[data-style="dark"] .separator {
  border-top: 1px solid #909090;
}
html[data-style="dark"] .pagination > .disabled a,
html[data-style="dark"] .pagination > .disabled a:hover,
html[data-style="dark"] .pagination > .disabled a:focus {
  background-color: #eeeeee;
}
html[data-style="light"] a.btn-outline-primary:hover {
  color: #ffffff;
}
html[data-style="light"] .panel-danger {
  border-color: #d03f00;
}
.panel-secondary > .panel-heading {
  background-color: none;
}
.panel-secondary .list-group-item {
  background-color: #fafafa;
}
.stats-upgrade-link {
  text-align: center;
}
.list-section {
  margin: 15px 0 15px 0;
}
@-webkit-keyframes highlight-changes {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes highlight-changes {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: transparent;
  }
}
.externalLink:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f35d";
  display: inline-block;
  padding: 0 3px 0 3px;
  vertical-align: middle;
}
.create-email-checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}
.send-email-checkbox > label {
  font-weight: 600;
}
.domain-text {
  max-width: 200px;
}
.bytes-input {
  max-width: 180px;
}
.email dt {
  font-weight: 600;
}
.email dd {
  margin-top: 3px;
  margin-bottom: 15px;
}
.storageDisplay {
  max-width: 200px;
}
.section-highlight {
  background-color: transparent;
  padding: 0 10px 50px 10px;
  margin: 0 0 0 0;
  -webkit-animation-name: highlight-changes;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  animation-name: highlight-changes;
  animation-duration: 10s;
}
.restriction-section-highlight {
  background-color: transparent;
  padding: 15px 15px 50px 15px;
  margin: -20px -15px -16px -15px;
  -webkit-animation-name: highlight-changes;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s;
  /* Safari 4.0 - 8.0 */
  animation-name: highlight-changes;
  animation-duration: 10s;
}
.user-name-help {
  display: inline-block;
  width: 70%;
}
.missing-domain-link {
  vertical-align: top;
}
html[dir="rtl"] .missing-domain-link {
  float: right;
}
html[dir="rtl"] .missing-domain-link {
  float: left;
}
.invite-password-section {
  margin-bottom: 10px;
}
.hide-stats {
  opacity: 0;
}
.animate-stats {
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  html[data-style="retro"] .action-column {
    white-space: normal;
  }
}
