@charset "UTF-8";
/* CSS Document */

.clear {
    clear: both;
}

.total {
    font-weight: bold;
}

.usage-table {
    width: 75%;
}

#table_container {
    width: 0 auto;
}

#disk_usage_table {
    border-collapse: collapse;
    margin-top: 8px;
}

.spinner {
    width: 12px;
}

.expander {
    font-size: 12px;
    width: 12px;
    cursor: pointer;
}

#sort_div {
    margin-top: 40px;
    margin-bottom: 15px;
}
#sort_div_contents {
    padding: 8px;
}

#disk_usage_table td.raw_bytes,
#disk_usage_table td.formatted_bytes,
#megabytes_header,
#bytes_header {
    text-align: right;
}

#megabytes_header,
#bytes_header {
    padding-top: 8px;
}

#megabytes_header,
#disk_usage_table td.formatted_bytes {
    padding-right: 20px;
}

#directory_header {
    padding-right: 12px;
    vertical-align: top;
}

#disk_usage_table td.owner,
#owner_header {
    padding-left: 10px;
}

#home_total_row {
    font-weight: bold;
}

.other-usage-blurb {
    padding: 0 15px 15px 15px;
}
