.external-auth-icon-container {
    box-sizing: border-box;
    display:inline-block;
    border-radius:4px;
    background-color: #179bd7;
    width: 35px;
    height: 35px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 7px;
    margin: 0 5px 0 0;
    text-align: center;
    text-decoration: none;
}

.external-auth-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.module-header {
    font-weight: bold;
    font-style: normal;
    max-width: 180px;
    width: 150px;
    padding: 0 30px 0 0;
}

.additional-template {
    padding-top: 10px;
}

.provider-info {
    padding: 0 30px;
}

.warning_box {
    padding: 10px 5px;
    margin: 5px 15px;
    background-color: #f6e082;
}

.warning_box p {
    padding: 0 5px;
    display: inline;
}
