#ftp_settings ul {
    margin: 0;
    /*padding:0;*/
}
#ftp_settings ul li {
    margin: 2px 0 0 -51px;
    padding: 0;
}
/*Hack for ie7*/
* + html #ftp_settings ul li {
    margin: 2px 0 0 -11px;
}
/*Hack for ie6*/
* html #ftp_settings ul li {
    margin: 2px 0 0 -11px;
}

/* styles for accounts.html */
.row-odd {
    background-color: #f9f9f9;
}

/* remove top border for the thead section */
.table > thead > tr > th {
    border-top: none;
}

/* apply these styles when we are out of the responsive-table mode */
@media only screen and (min-width: 601px) {
    .col1 {
        width: 230px;
    }
    .col2 {
        width: 230px;
    }
    .col3 {
        width: 150px;
    }
    .pro_col1 {
        width: 234px; /* 33% */
    }
    .pro_col2 {
        width: 234px; /* 33% */
    }
    .pro_col3 {
        width: 234px; /* 33% */
    }
    .special_col1 {
        width: 35px;  /* 5% */
    }
    .special_col2 {
        width: 177px; /* 25% */
    }
    .special_col3 {
        width: 230px;
    }
    .special_col4 {
        width: 150px;
    }
    .pro_special_col1 {
        width: 35px;
    }
    .pro_special_col2 {
        width: 177px;
    }
    .pro_special_col3 {
        width: 234px;
    }
}

.path_popup {
    background: white;
    border: 1px solid #aeaeae;
    padding: 2px 4px 2px 2px;
}
div#pagination_pages {
    padding: 15px 0px 0px 0px;
}
div#pagination_links {
    padding: 10px 0px 0px 0px;
}
span.paginate_page {
    cursor: pointer;
    border: 1px solid #bbbbbb;
    padding: 2px 6px;
}
span.paginate_current_page {
    border: 1px solid #000000;
    font-weight: bold;
    padding: 2px 6px;
}
span.paginate_prev,
span.paginate_next {
    cursor: pointer;
    margin-right: 10px;
}
span.megabyte_font {
    font-size: 9px;
}
div.table_progress_bar {
    width: 80px;
    height: 8px;
    border: 1px solid #cccccc;
}
td .action_link {
    padding-right: 5px;
    padding-left: 5px;
}
td.editFormRow {
    padding: 0 !important;
}

td.editFormRow:before {
    padding-bottom: 0 !important;
}

.dt_module {
    padding-top: 15px;
}

.client-logo {
    height: 48px;
    margin-bottom: 5px;
}
.action-row td {
    border-top: none !important; /* To override boostrap */
    border-bottom: none !important; /* To override boostrap */
}
