/* ------------------------------------
   =Boxes
   These styles are applied to index.html to manage the boxes.
   ------------------------------------ */

#boxes {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.topcell {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 27px;
}

.cellform {
    padding: 0;
    margin: 0;
    display: inline;
}

.cellbox {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0;
    margin: 10px 0 20px 0;
    width: 100%;
    line-height: 16px;
}

.cellbox-body {
    background-color: #ffffff;
    border-radius: 3px;
    padding-left: 20px;
    padding-top: 20px;
    clear: both;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
}

.cellbox-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #293a4a;
    background-color: rgba(41, 58, 74, 0.95);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    cursor: move;
}

.group_icon {
    float: left;
    position: absolute;
    top: 4px;
    left: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
}

html[dir="rtl"] .group_icon {
    float: right;
    top: 4px;
    right: 5px;
    left: auto;
}

.group-header {
    font-size: 15px;
    position: relative;
    left: 5px;
}

html[dir="rtl"] .group-header {
    right: 40px;
    left: auto;
}

.item {
    float: left;
    height: 60px;
    padding: 0;
    text-align: left;
}

html[dir="rtl"] .item {
    text-align: right;
    float: right;
}

.icon {
    display: block;
    margin: auto;
}

.itemContentWrapper {
    padding: 0;
    width: 100%;
}

.itemImageWrapper {
    display: inline-block;
    vertical-align: middle;
}

.itemTextWrapper {
    padding: 10px 0 10px 5px;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

html[dir="rtl"] .itemTextWrapper {
    padding: 10px 5px 10px 0;
}

#menu_drag_el .item,
div.anim_proxy .item {
    float: left;
    min-height: 60px;
    margin: 5px;
    padding: 0;
    text-align: left;
    width: 260px;
}

#menu_drag_el {
    opacity: 0.67;
    filter: alpha(opacity=67);
    background-color: white;
}

#drag_placeholder {
    border: 2px dashed #999999;
}

/* so that the cellbox doesn't jut out from the main box */
.celldrop_active {
    background-color: #2222ff;
    height: 5px;
    width: 100%;
    padding: 0;
}

.celldrop {
    height: 5px;
    width: 100%;
    padding: 0;
    display: none;
}

.cellbox {
    width: auto;
}

.cell-left {
    text-align: left;
}

.section-header {
    font-size: 18px;
    padding-bottom: 18px;
    display: block;
}

/* ------------------------------------
   =Stats
   ------------------------------------ */
#content-stats {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: 10px 0 20px 0;
}

#toggle_extended_stats_img {
    display: none;
}

#stats-header {
    cursor: pointer;
    position: relative;
}

#stats {
    width: 100%;
    padding: 0;
    margin: 0;
}

#stats,
#stats_extended {
    table-layout: fixed;
    background-color: #ffffff;
}

.section-header {
    text-transform: capitalize;
    font-size: 15px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(41, 58, 74, 0.95);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #293a4a;
    color: #ffffff;
    text-transform: uppercase;
}

#extended_stats {
    margin: 0px;
    padding: 0px;
    width: auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

#stats_extended {
    width: 100%;
}

.domaintxt {
    font-size: 14px;
}

.stats_progress_bar {
    width: 110px;
    height: 20px;
    border: 1px solid #cccccc;
}

.stats_progress_bar_text,
.stats_progress_bar_percent {
    display: none;
}

#stats table,
#stats_extended table {
    border-collapse: collapse;
    overflow: hidden;
}

#stats td,
#stats_extended td {
    padding: 10px;
    border-collapse: collapse;
    overflow: hidden;
}

#content-stats-end {
    padding: 10px;
}

#noticeboard {
    width: 100%;
}

#stats .nopad-nobrd {
    padding: 0;
    margin: 0;
    border: none;
}

#stats .row-odd,
#stats_extended .row-odd {
    background-color: #f3f3f3;
}

#stats .row-even,
#stats_extended .row-even {
    background-color: #fff;
    padding: 5px;
}

#stats .txt {
    font-size: 9px;
    font-weight: 700;
}

td.stats_left {
    text-align: left;
    color: #666;
    width: 40%;
    border-bottom: 1px solid #eaeaea;
}

html[dir="rtl"] td.stats_left {
    text-align: right;
}

td.stats_right {
    text-align: left;
    padding-left: 10px;
    width: 60%;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eaeaea;
}

html[dir="rtl"] td.stats_right {
    text-align: right;
}

#expand {
    float: right;
}

#noticeboard {
    padding: 0;
    width: auto;
}

#jump-search h3 {
    margin: 0;
}

#gosearch {
    margin: 20px auto;
    text-align: center;
}

#clearlnk {
    display: block;
    text-align: center;
    margin: 5px 0;
}

#content-stats-end {
    width: 100%;
    padding-top: 15px;
}

.option-select-extras {
    padding-top: 20px;
    font-size: 12px;
}

.option-directory-select {
    width: 350px;
    margin-left: 20px;
}

ul.quota-warning {
    padding-top: 5px;
    padding-left: 15px;
}

.searchhide {
    display: none;
}

#news,
#resellerToolbox,
#themeSelection {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: 0 0 20px 0;
}

#news.section {
    padding: 0;
}

#newsContent,
#themeContent,
#resellerToolboxContent {
    padding: 10px;
    background-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
